<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Reflect</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
    
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
</head>

<body class="bg-gradient-primary page-wrap">

<div class="container my-5">

<nav class="navbar navbar-expand-lg navbar-dark fixed-top border bg-light" id="mainNav">
        <div class="container">
            <div class="cardEdit">
              <div class="row">
                <div class="col" ><div class="echelonLogo-2"></div></div>
                <div class="w-100"></div>
                <div class="col" ><div class="logoy-2"></div></div>
              </div>
            </div>
            
            <div class="spacey-lg"></div>
            <a class="signinText" href="Profile.html">Profile</a>
            <a class="signinText" href="login.html">Sign Out</a>
        </div>
</nav>
      <br>
    <div class="row justify-content-center">

      <div class="col-lg-8 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 mb-4 signinHeader">Add a Family Member.</h1>
                      <p>Add up to five family members that can all enjoy reflect today</p>
                      <div class="addedFamilyMember"><i class="far fa-check-circle"></i> Succefully added family member</div>
                      <div class="addedFamilyMember"><i class="far fa-check-circle"></i> An email has been sent</div>
                  </div>
                    <br>
                  <form class="user" method="post">
                      <div class="text-center">
                        <div class="form-group">
                            <div class="row justify-content-center position-relative">
                                <div class="col-12 col-md-3 fmProfilePic">
                                    <div class="familyMemberCard" id="parent"><div id="famPic1" class="familyMemberPhoto-lg"><i class="fas fa-3x fa-user-circle"></i></div>
                                    <label class="btn chooseFile" for="pic1">Upload</label>
                                    <input hidden type="file" id="pic1" class="pic">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="row text-left">
                                        <div class="col">
                                            <label>Email</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <input class="form-control editSubInput-2" id="emailFamilyMember" placeholder="Email..">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row mb-2">
                                        <div class="col-11 position-relative">
                                           <button class="editSubInput-2 h-100 addedFamilyMember-lg emailInUse mb-4" id="emailInUse">Email is already in use, if you want to add this parent account as a family member click here</button>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col">
                                            <label>Password</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <input class="form-control editSubInput-2" id="passwordFamilyMember" placeholder="Password..">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row text-left">
                                        <div class="col">
                                            <label>First Name</label>
                                        </div>
                                        <div class="col-6">
                                            <label>Last Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <input class="form-control editSubInput" id="familyMember1" placeholder="First Name..">
                                        </div>
                                        <div class="col-6">
                                            <input class="form-control editSubInput" id="familyMember1" placeholder="Last Name..">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row text-left">
                                        <div class="col">
                                            <label>Nick Name</label>
                                        </div>
                                        <div class="col-6">
                                            <label>Gender</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <input class="form-control editSubInput" id="nickNameFamilyMember" placeholder="Nick Name..">
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                            <select class="form-control editSubInput" name="gender" id="gender">
                                              <option>Female</option>
                                              <option>Male</option>
                                              <option selected>Other</option>
                                            </select>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col">
                                            <label>Weight (pounds)</label>
                                        </div>
                                        <div class="col-6">
                                            <label>Height (feet)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <input class="form-control editSubInput" type="number" name="weight" id="weight" min="0" data-bind="value:replyNumber" placeholder="210.."/>
                                        </div>
                                        <div class="col-6">
                                            <input class="form-control editSubInput" id="nickNameFamilyMember" placeholder="5'10..">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row text-left">
                                        <div class="col">
                                            <label>Birthday</label>
                                        </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-4 col-md-4">
                                                <select class="form-control birthday" id="birthM">
                                                  <option selected>January</option>
                                                    <option>February</option>
                                                    <option>March</option>
                                                    <option>April</option>
                                                    <option>May</option>
                                                    <option>June</option>
                                                    <option>July</option>
                                                    <option>August</option>
                                                    <option>September</option>
                                                    <option>October</option>
                                                    <option>November</option>
                                                    <option>December</option>
                                                </select>
                                            </div>
                                            <div class="col-4 col-md-4">
                                                <select class="form-control birthday"id="birthD">
                                                    <option selected>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                    <option>13</option>
                                                    <option>14</option>
                                                    <option>15</option>
                                                    <option>16</option>
                                                    <option>17</option>
                                                    <option>18</option>
                                                    <option>19</option>
                                                    <option>20</option>
                                                    <option>21</option>
                                                    <option>22</option>
                                                    <option>23</option>
                                                    <option>24</option>
                                                    <option>25</option>
                                                    <option>26</option>
                                                    <option>27</option>
                                                    <option>28</option>
                                                    <option>29</option>
                                                    <option>30</option>
                                                    <option>31</option>
                                                </select>
                                            </div>
                                            <div class="col-4 col-md-4">
                                                <select class="form-control birthday" id="birthY">
                                                </select>
                                            </div>
                                        </div>
                                    <br><br>
                                <div class="row justify-content-center">
                                <div class="col-12 col-md-6">
                                <a href="AddFamilyPlanning.html" class="btn btn-danger btn-user btn-block-sm fmBtn">
                                    <div class="mobileHide">Add Family Member</div>
                                    <div class="mobileShow">Add</div>
                                </a>
                                </div>
                                <div class="col-12 col-md-6">
                                <a href="FamilyPlanning.html" class="btn btn-dark btn-user btn-block-sm fmBtn">
                                        <div class="mobileHide">Back to Profile</div>
                                    <div class="mobileShow">Back</div>
                                </a>
                                </div>
                            </div>
                                </div>
                            </div>
                            </div>
                            <br>
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
    
<!-- Footer -->
<footer class="page-footer font-small footerCustom">

      <!-- Footer Links -->
  <div class="container text-center">

    <!-- Grid row -->
    <div class="row justify-content-center">
        
      <!-- Grid column -->
      <div class="col-md-3 footerList">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Terms of use</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-3 footerList">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Privacy</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 footerList">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">FAQ</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 footerList">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Help Center</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
    
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      <a href="https://echelonfit.com/">© 2019 Echelon Fitness LLC. All rights reserved. Patent pending.</a> 
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/agency.min.js"></script>

</body>

</html>