<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Reflect Sign up</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
    

</head>

<body class="bg-gradient-primary splash">

<div class="container my-5">

<nav class="navbar navbar-expand-lg navbar-dark  splashNav" id="mainNav">
    <div class="container">
        
        <div class="container" style="width: 250px; margin: 0;">
          <div class="row">
            <div class="col" ><div class="echelonLogo-2"></div></div>
            <div class="w-100"></div>
            <div class="col" ><div class="logo-splash"></div></div>
          </div>
        </div>
        
      <a class="btn btn-danger btn-user signinText splashSignIn" href="login.html">Sign In</a>
    </div>
    
</nav>
      
    <div class="row justify-content-center">
        <div class="col-lg-8 col-lg-12 col-md-9">
        <div class="o-hidden my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="p-5" style="padding: 2rem !important">
                  <div class="text-center">
                    <h1 class="splashHeading mb-4 text-white">All of Reflect.</h1>
                    <h1 class="splashHeading mb-4 text-white">Free for 14 days.</h1>
                  </div>
                  <form class="user" method="post">
                      <div class="text-left">
                          <div class="row justify-content-center">
                            <div class="col-1">
                                <i class="fas fa-check spacey"></i>
                            </div>
                            <div class="col-10">
                                <div class="splashText text-white">
                                    <p>You won't be charged until after your 14 day trial ends.</p>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-1"><i class="fas fa-check spacey"></i></div>
                            <div class="col-10">                        
                                <div class="splashText text-white">
                                    <p>No commitments, cancel anytime.</p>
                                </div>
                            </div>
                          </div>
                    </div>
                      <br>
                    <a href="plans" class="btn btn-danger btn-user btn-block signupText">
                      See Plans Now
                    </a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
    <div class="container">
      <div class="row justify-content-center border-top">
        <div class="col-lg-6 text-center align-self-center topping">
          <h2 class="splashHeading text-uppercase text-white">Heart-Track Technology</h2><br>
            <p class="text-white text-left splashText">Reflects leader-board, lets you compete with others by the second, using the Echelon “Heart-track” heart rate tracking system.</p>
        </div> 
        <div class="col-lg-3 text-center topping">
            <div class="box">
                <div class="splashPic2"></div>
            </div>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="container">
      <div class="row justify-content-center border-top">
        <div class="col-lg-3 topping">
            <div class="box">
                <div class="splashPic3"></div>
            </div>
        </div>
        <div class="col-lg-6 align-self-center text-center topping">
          <h2 class="splashHeading text-uppercase text-white">Live and On-demand Classes</h2><br>
            <p class="text-white text-left splashText"> Strength training, Core, Yoga, Pilates, Meditation, and more are available, right in the comforts of your home.</p>
        </div> 
      </div>
    </div>
    <br><br><br>
    <div class="container text-center">
      <div class="row justify-content-center border-top border-light">
        <div class="col-lg-8 topping">
          <h2 class="splashHeading text-white">Frequently Asked Questions</h2>
            <br>
            <p class="text-white splashText"></p>
            
            <button class="accordion">What is Reflect?</button>
            <div class="panel splashText">
                <br>
              <p>Reflect by Echelon is a lightweight, Smart Mirror display, that looks like a normal mirror, but then transforms into a smart video fitness training system. Strength training, Core, Yoga, Pilates, Meditation, live on-on-one training and more are available, right in the comforts of your home.</p>
                <br>
            </div>

            <button class="accordion">How much does Reflect cost?</button>
            <div class="panel splashText">
                <br>
              <p>Echelon Reflect 40" is $999.99. You can purchase it here on our website <a href="https://echelonreflect.com/">EchelonReflect.com</a></p>
                <br>
            </div>

            <button class="accordion">How do I cancel?</button>
            <div class="panel splashText">
                <br>
              <p>Cancel your subscription and change or your payment method at anytime through the profile portal.</p>
                <br>
            </div>
            <button class="accordion">What can I do with Reflect?</button>
            <div class="panel splashText">
                <br>
              <p>Reflect™ is unique training experience that brings live and on demand personal trainers into your home. Reflect™ utilizes our advanced leader-board, competing with others using the Echelon “Heart-Track” heart rate tracking system.  
                  <br><br>
                  Strength training, Core, Yoga, Pilates, Meditation, and more are available, right in the comforts of your home</p>
                <br>
            </div>
            <button class="accordion">How does the free trail work?</button>
            <div class="panel splashText">
                <br>
              <p>You can enjoy all classes and features on Reflect for 14 days and can cancel at anytime.</p>
                <br>
            </div>
            <br><br>
            <button type="submit" class="btn btn-danger btn-block signupbtn shrinkText">
                      REFLECT FREE FOR 14 DAYS
            </button>
        </div> 
      </div>
    </div>
    
    
  </div>
    
    
<!-- Footer -->
<footer class="page-footer font-small footerCustomSplash">

      <!-- Footer Links -->
  <div class="container text-center">

    <!-- Grid row -->
    <div class="row justify-content-center">
        
      <!-- Grid column -->
      <div class="col-md-3 footerList">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Terms of use</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-3 footerList">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Privacy</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 footerList">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">FAQ</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 footerList">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Help Center</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
    
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      <a href="https://echelonfit.com/">© 2019 Echelon Fitness LLC. All rights reserved. Patent pending.</a> 
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/agency.min.js"></script>

</body>

</html>