<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Reflect</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body class="bg-gradient-primary">

<div class="container my-5">

<nav class="navbar navbar-expand-lg navbar-dark fixed-top border bg-light" id="mainNav">
    <div class="container">
        <div class="container cardEdit">
          <div class="row">
            <div class="col" ><div class="echelonLogo-2"></div></div>
            <div class="w-100"></div>
            <div class="col" ><div class="logoy-2"></div></div>
          </div>
        </div>
      <a class="signinText" href="login.html">Sign Out</a>
    </div>
</nav>
      
    <div class="row justify-content-center">

      <div class="col-lg-8 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 mt-4 mb-4 signinHeader">Account</h1>
                  </div>
                  <form class="user" method="post" >
                        <div class="contextBodyTitle text-left border-top border-dark mb6">
                          Membership & Billing
                            <br>
                            <a class="btn chooseFile-2" data-toggle="modal" data-target="#squarespaceModal1">Cancel Membership</a>
                        </div>
                      
                        <div class="contextBodyProfile">
                        User_email@example.com
                            <a class="editOption" data-toggle="modal" data-target="#squarespaceModal5"><p>Change Email</p></a>
                        </div>
                        <div class="contextBodyProfile border-dark">
                          Password: *********
                            <a class="editOption" data-toggle="modal" data-target="#squarespaceModal4"><p>Change Password</p></a>
                        </div>
                        <div class="contextBodyProfile border-dark">
                          <i class="fas fa-mobile-alt"></i> Phone Number: ***-***-2345
                            <a class="editOption" data-toggle="modal" data-target="#squarespaceModal3"><p>Change Phone Number</p></a>
                        </div>
                        <div class="contextBodyProfile border-top border-dark">
                          <i class="far fa-credit-card"></i> VISA **** **** **** 4125
                            <a class="editOption" href="editPayment.html"><p>Edit Payment Method</p></a>
                        </div>
                        <div class="contextBodyProfile border-dark">
                          <i class="far fa-address-book"></i> Billing Details
                            <a class="editOption" data-toggle="modal" data-target="#squarespaceModal7"><p>Change Billing Details</p></a>
                        </div>
                      <br>
                        <div class="contextBodyTitle text-left border-top border-dark">
                          Profile
                        </div>
                        <div class="contextBodyProfile border-dark">
                           <div class="profilePicture"><label class="editOption-2" for="pic2"><p>Change Profile Picture</p></label></div> 
                            <input hidden type="file" id="pic2" class="pic">
                        </div>
                        <div class="contextBodyProfile border-dark">
                          <i class="fas fa-users"></i> Manage Family Members
                            <a class="editOption" href="FamilyPlanning.html"><p>Manage Family Members</p></a>
                        </div>
                        <div class="contextBodyProfile border-dark">
                          <i class="far fa-flag"></i> Notifications
                            <a class="editOption" data-toggle="modal" data-target="#squarespaceModal8"><p>Communication Settings</p></a>
                        </div>
                      <br>
                        <div class="contextBodyTitle text-left border-top border-dark">
                          Plan Details
                        </div>
                        <div class="contextBodyProfile border-dark">
                          <i class="far fa-clipboard"></i> Subscription
                            <a class="editOption" href="EditPlan2.html"><p>Change Subscription</p></a>
                        </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

<!-- line modal for canceling -->
<div class="modal fade" id="squarespaceModal1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="lineModalLabel">Cancel Confirmation</h3>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            <label class="modal-label subText">Are you sure you want to cancel authorized/recurring payments to Reflect?</label>
            <br>
            <label class="modal-label subText">Your membership will be canceled at the end of your current billing period.</label>
        </div>
        <div class="modal-footer">
            <div class="row w-100 h-100" style="padding-right: 20px;">
                <div class="col-5" >
                    <a href="" class="btn btn-danger btn-user btn-block signupText">
                      Close
                    </a>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <a href="" class="btn btn-danger btn-user btn-block signupText">
                       Yes
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- line modal for language -->
<div class="modal fade" id="squarespaceModal2" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="lineModalLabel">Change Language</h3>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            <select class="selectpicker" data-width="fit">
                <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
              <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
            </select>
        </div>
        <div class="modal-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                <div class="btn-group btn-delete hidden" role="group">
                    <a href="step2.html" class="btn btn-danger btn-user btn-block signupText">
                      Save
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
    
<!-- line modal for phone number -->
<div class="modal fade" id="squarespaceModal3" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="lineModalLabel">Change Phone Number</h3>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            <label class="modal-label">Mobile Phone Number</label>
            <div class="form-group fgModal">
              <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="">
            </div>
        </div>
        <div class="modal-footer">
            <div class="row w-100 h-100" style="padding-right: 20px;">
                <div class="col-5" >
                    <a href="" class="btn btn-danger btn-user btn-block signupText">
                      Close
                    </a>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <a href="" class="btn btn-danger btn-user btn-block signupText">
                       Save
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
     
<!-- line modal for password -->
<div class="modal fade" id="squarespaceModal4" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="lineModalLabel">Change Password</h3>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body text-left">
            <label class="modal-label">Current Password</label>
            <div class="form-group fgModal">
              <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="">
            </div>
            <label class="modal-label">New Password</label>
            <div class="form-group fgModal">
              <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="">
            </div>
            <label class="modal-label">Confirm Password</label>
            <div class="form-group fgModal">
              <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="">
            </div>
        </div>
        <div class="modal-footer">
            <div class="row w-100 h-100" style="padding-right: 20px;">
                <div class="col-5" >
                    <a href="" class="btn btn-danger btn-user btn-block signupText">
                      Close
                    </a>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <a href="" class="btn btn-danger btn-user btn-block signupText">
                       Save
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- line modal for email -->
<div class="modal fade" id="squarespaceModal5" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="lineModalLabel">Change Email</h3>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            <label class="modal-label">Email: </label>
            <div class="form-group fgModal">
              <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="">
            </div>
        </div>
        <div class="modal-footer">
            <div class="row w-100 h-100" style="padding-right: 20px;">
                <div class="col-5" >
                    <a href="" class="btn btn-danger btn-user btn-block signupText">
                      Close
                    </a>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <a href="" class="btn btn-danger btn-user btn-block signupText">
                       Save
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>


<!-- line modal for Billing details -->
<div class="modal fade" id="squarespaceModal7" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="lineModalLabel">Change Billing Details</h3>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
         <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <div class="row w-100 h-100" style="padding-right: 20px;">
                <div class="col-5" >
                    <a href="" class="btn btn-danger btn-user btn-block signupText">
                      Close
                    </a>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <a href="" class="btn btn-danger btn-user btn-block signupText">
                       Save
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- line modal for notifications -->
<div class="modal fade" id="squarespaceModal8" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="lineModalLabel">Communication Settings</h3>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            <label class="modal-label">Email Address: <strong>exampleemail@gmail.com</strong></label>
            <br>
            <input type="checkbox" name="checkboxG4" id="checkboxG4" class="css-checkbox" checked/>
            <label for="checkboxG4" class="css-label">Reflect Updates</label>
            <p class="subText">New and enhanced features and tips for getting the most out of your subscription.</p>
            <br>
            <input type="checkbox" name="checkboxG5" id="checkboxG5" class="css-checkbox" checked/>
            <label for="checkboxG5" class="css-label">Reflect Offers</label>
            <p class="subText">Receive Reflect promotions.</p>
            <br>
            <input type="checkbox" name="checkboxG6" id="checkboxG6" class="css-checkbox" checked/>
            <label for="checkboxG6" class="css-label">Reflect Surveys</label>
            <p class="subText">Let your opinions be heard by giving us feedback on your experience with Reflect.</p>
            
        </div>
        <div class="modal-footer">
            <div class="row w-100 h-100" style="padding-right: 20px;">
                <div class="col-5" >
                    <a href="" class="btn btn-danger btn-user btn-block signupText">
                      Close
                    </a>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <a href="" class="btn btn-danger btn-user btn-block signupText">
                       Save
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

 
<!-- Footer -->
<footer class="page-footer font-small footerCustom">

      <!-- Footer Links -->
  <div class="container text-center">

    <!-- Grid row -->
    <div class="row justify-content-center">
        
      <!-- Grid column -->
      <div class="col-md-3 footerList">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Terms of use</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-3 footerList">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Privacy</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 footerList">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="index.html#FAQ">FAQ</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 footerList">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Help Center</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
    
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      <a href="https://echelonfit.com/">© 2019 Echelon Fitness LLC. All rights reserved. Patent pending.</a> 
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

 
    
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/agency.min.js"></script>
    

</body>

</html>